:root {
  font-family: "open sans", sans-serif;
}

body {
  overflow: hidden;
}

ul {
  position: absolute;
  top: 0;
  z-index: 0;
  width: 33%;
  list-style-type: none;
  margin-left: 2px;
  overflow-y: scroll;
  height: 910px;
  background: rgba(14, 31, 68, 0.7);
}

li {
  text-transform: capitalize;
  font-size: 22px;
  height: 48px;
  margin: 8px 6px;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  color: #ffffff;
  border-radius: 8px;
  transition: background-color 0.1s;
}

li:hover {
  background: rgba(102, 110, 231, 0.75);
}

li.selected {
  background-color: rgba(255, 234, 4, 0.65);
}

li img {
  transform: scale(1.2) translate(-2px, 4px);
}

.data {
  position: absolute;
  top: 3%;
  left: 45%;
  width: 30%;
  height: 100%;
  z-index: 1;
  display: block;
}

.data h1 {
  text-transform: capitalize;
  text-align: center;
  font-size: 36px;
  position: relative;
  left: 18%;
}

.art {
  display: inherit;
  position: relative;
  left: 37%;
  width: 350px;
}

.art.hidden {
  display: none;
}

.abilities {
  position: absolute;
  top: 15%;
  left: -18.75%;
  width: 200px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgb(0 0 0 / 33%), -2px 2px 6px rgb(0 0 0 / 33%);
}

h2:has(+ .abilities) {
  position: absolute;
  top: 8%;
  left: -10%;
}

.abilities div {
  text-transform: capitalize;
  text-align: center;
  margin: 8px 0;
  font-size: 22px;
}

ha {
  font-weight: bold;
}

ha.false {
  display: none !important;
}

.types {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  left: 37%;
  width: 350px;
}

h2:has(+ .stats) {
  position: absolute;
  top: 8%;
  left: 141%;
}

.stats {
  position: absolute;
  top: 15%;
  left: 120%;
  width: 300px;
  padding-bottom: 24px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgb(0 0 0 / 33%), -2px 2px 6px rgb(0 0 0 / 33%);
}

.stats h3 {
  text-align: center;
  margin: 20px 0;
}

.bar {
  height: 24px;
  background: linear-gradient(90deg, rgb(67, 140, 214), rgb(128, 187, 247));
  margin: 0px 8px 0px 12px;
  font-size: 18px;
  text-align: center;
  color: white;
}

.infoModal {
  background: whitesmoke;
  width: 49.5%;
  top: 27.25%;
  height: 52.5%;
  z-index: 3;
  overflow-y: scroll;
}

.entry {
  margin: 16px 8%;
  font-style: italic;
  font-size: 20px;
  line-height: 145%;
}

.bio {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.movesWrapper,
.infoWrapper {
  background-color: rgb(0 0 0 / 35%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 4;
  display: block;
}

.movesWrapper.hidden,
.infoWrapper.hidden {
  display: none;
}

.showMoves,
.showInfo {
  text-align: center;
  padding: 6px 10px;
  width: auto;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgb(0 0 0 / 33%), -2px 2px 6px rgb(0 0 0 / 33%);
}

.showMoves:hover,
.showInfo:hover {
  background: rgba(102, 110, 231, 0.75);
  color: #ffffff;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  top: 55%;
  left: 70%;
}

.icon {
  border-radius: 100%;
  height: 105px;
  width: 105px;
  margin: 24px auto;
  transition: all 200ms ease 0s;
  cursor: pointer;
  user-select: none;
}

.icon:hover {
  filter: saturate(200%);
  transform: scale(1.1);
  cursor: pointer;
}

.icon img {
  height: 60%;
  width: 60%;
  margin: 20%;
}

.bug {
  background: rgb(146, 188, 44);
  box-shadow: rgb(146, 188, 44) 0px 0px 20px;
}

.dark {
  background: rgb(89, 87, 97);
  box-shadow: rgb(89, 87, 97) 0px 0px 20px;
}

.dragon {
  background: rgb(12, 105, 200);
  box-shadow: rgb(12, 105, 200) 0px 0px 20px;
}

.electric {
  background: rgb(242, 217, 78);
  box-shadow: rgb(242, 217, 78) 0px 0px 20px;
}

.fire {
  background: rgb(251, 165, 76);
  box-shadow: rgb(251, 165, 76) 0px 0px 20px;
}

.fairy {
  background: rgb(238, 144, 230);
  box-shadow: rgb(238, 144, 230) 0px 0px 20px;
}

.fighting {
  background: rgb(211, 66, 95);
  box-shadow: rgb(211, 66, 95) 0px 0px 20px;
}

.flying {
  background: rgb(161, 187, 236);
  box-shadow: rgb(161, 187, 236) 0px 0px 20px;
}

.ghost {
  background: rgb(95, 109, 188);
  box-shadow: rgb(95, 109, 188) 0px 0px 20px;
}

.grass {
  background: rgb(95, 189, 88);
  box-shadow: rgb(95, 189, 88) 0px 0px 20px;
}

.ground {
  background: rgb(218, 124, 77);
  box-shadow: rgb(218, 124, 77) 0px 0px 20px;
}

.ice {
  background: rgb(117, 208, 193);
  box-shadow: rgb(117, 208, 193) 0px 0px 20px;
}

.normal {
  background: rgb(160, 162, 159);
  box-shadow: rgb(160, 162, 159) 0px 0px 20px;
}

.poison {
  background: rgb(183, 99, 207);
  box-shadow: rgb(183, 99, 207) 0px 0px 20px;
}

.psychic {
  background: rgb(250, 133, 129);
  box-shadow: rgb(250, 133, 129) 0px 0px 20px;
}

.rock {
  background: rgb(201, 187, 138);
  box-shadow: rgb(201, 187, 138) 0px 0px 20px;
}

.steel {
  background: rgb(86, 149, 163);
  box-shadow: rgb(86, 149, 163) 0px 0px 20px;
}

.water {
  background: rgb(83, 157, 223);
  box-shadow: rgb(83, 157, 223) 0px 0px 20px;
}


@media screen and (min-width: 1400px) {

  ul {
      position: absolute;
      top: 0;
      z-index: 0;
      width: 20%;
      list-style-type: none;
      margin-left: 2px;
      overflow-y: scroll;
      height: 910px;
      background: rgba(14, 31, 68, 0.7);
  }

  li {
      text-transform: capitalize;
      font-size: 22px;
      height: 48px;
      margin: 8px 6px;
      cursor: pointer;
      vertical-align: middle;
      user-select: none;
      color: #ffffff;
      border-radius: 8px;
      transition: background-color 0.1s;
  }

  .data {
      position: absolute;
      top: 3%;
      left: 45%;
      width: 30%;
      height: 100%;
      z-index: 1;
      display: block;
  }

  .data h1 {
      text-transform: capitalize;
      text-align: center;
      font-size: 32px;
      position: relative;
      left: 5.5%;
  }

  .art {
      display: inherit;
      position: relative;
      left: 24.5%;
      width: 275px;
  }

  .abilities {
      position: absolute;
      top: 20.5%;
      left: -45%;
      width: 200px;
      border-radius: 10px;
      box-shadow: 2px 2px 6px rgb(0 0 0 / 33%), -2px 2px 6px rgb(0 0 0 / 33%);
  }

  h2:has(+ .abilities) {
      position: absolute;
      top: 8%;
      left: -34%;
  }

  .abilities div {
      text-transform: capitalize;
      text-align: center;
      margin: 8px 0;
      font-size: 22px;
  }

  .types {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: absolute;
      left: 18.5%;
      width: 350px;
  }

  h2:has(+ .stats) {
      position: absolute;
      top: 8%;
      left: 130%;
  }

  .stats {
      position: absolute;
      top: 19.25%;
      left: 110%;
      width: 250px;
      padding-bottom: 24px;
      border-radius: 10px;
      box-shadow: 2px 2px 6px rgb(0 0 0 / 33%), -2px 2px 6px rgb(0 0 0 / 33%);
  }

  .stats h3 {
      text-align: center;
      margin: 12px 0;
  }

  .bar {
      height: 20px;
      background: linear-gradient(90deg, rgb(67, 140, 214), rgb(128, 187, 247));
      margin: 0px 6px 0px 9px;
      font-size: 16px;
      text-align: center;
      color: white;
  }

  .movesWrapper,
  .infoWrapper {
      background-color: rgb(0 0 0 / 35%);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 4;
      display: block;
  }

  .movesWrapper.hidden,
  .infoWrapper.hidden {
      display: none;
  }

  .movesModal {
      position: relative;
      background: whitesmoke;
      width: 49.5%;
      top: 15.5%;
      left: 24.5%;
      height: 57.5%;
      z-index: 3;
      overflow-y: scroll;
      border-radius: 8px;
      box-shadow: 2px 2px 6px rgb(0 0 0 / 33%), -2px 2px 6px rgb(0 0 0 / 33%);
  }

  table {
      height: 300px;
      width: 100%;
      overflow-y: scroll;
  }

  table :is(th, td) {
      text-align: center;
  }

  td {
      border-spacing: 0;
  }

  td:nth-child(1) {
      text-transform: capitalize;
      font-weight: bold;
      border-right: 1px solid rgb(142, 142, 142);
  }

  td.mid {
      border-right: 1px solid rgb(142, 142, 142);
  }

  td:nth-child(6) {
      border-left: 1px solid rgb(142, 142, 142);
  }

  td .icon {
      width: 40px;
      height: 40px;
      margin: 4px auto;
  }

  .infoModal {
      position: relative;
      background: whitesmoke;
      width: 49.5%;
      top: 15.5%;
      left: 24.5%;
      height: 57.5%;
      z-index: 3;
      overflow-y: scroll;
      border-radius: 8px;
      box-shadow: 2px 2px 6px rgb(0 0 0 / 33%), -2px 2px 6px rgb(0 0 0 / 33%);
  }

  .infoWrapper h2 {
      text-transform: capitalize;
  }

  .infoWrapper .art {
      width: 180px;
      position: relative;
      left: 0%;
  }

  .entry {
      margin: 16px 27.5%;
      font-style: italic;
      font-size: 16px;
      line-height: 120%;
      text-align: justify;
      text-justify: inter-word;
  }

  .bio {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
  }

  .showMoves,
  .showInfo {
      text-align: center;
      padding: 6px 10px;
      width: auto;
      cursor: pointer;
      font-size: 20px;
      border-radius: 10px;
      margin: 12px 10px;
      box-shadow: 2px 2px 6px rgb(0 0 0 / 33%), -2px 2px 6px rgb(0 0 0 / 33%);
  }

  .buttons {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      position: absolute;
      top: 75%;
      left: 25.75%;
  }

  .icon {
      border-radius: 100%;
      height: 105px;
      width: 105px;
      margin: 24px auto;
      transition: all 200ms ease 0s;
      cursor: pointer;
      user-select: none;
  }

  .icon:hover {
      filter: saturate(200%);
      transform: scale(1.1);
      cursor: pointer;
  }

  .icon img {
      height: 60%;
      width: 60%;
      margin: 20%;
  }
}